// Place all the styles related to the hats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hat-name {
  font-size: 30px;
}

#chefs {
  max-width: 500px;
  margin: 0 auto;
}

#new-chefs {
  max-width: 500px;
  margin: 0 auto;
}


.inline {
  display: inline-block;
  padding: 2px;
}

.small-pic {
  max-width: 200px;
  border-radius: 6px;
}

.recipe {
  display: inline-block;
  max-width: 200px;
  margin: 20px;
  text-align: center;
}

.center-form{
  max-width: 300px;
  margin: 0 auto;
}

#recipe-display {
  max-width: 800px;
  margin: 0 auto;
}

.center {
  text-align: center;
  font-size: 44px;
}

