// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-name {
  display: inline-block;
  margin-top: 0;
}

.recipe-table{
  max-width: 400px;
}

#title {
  text-align: center;
}

.sub-head {
  font-size: 26px;
  margin-left: 4px;
}

.food-pic {
  max-width: 300px;
  margin-bottom: 10px;
}

#recipe-box {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color:  #C7C8BD;
  border-radius: 4px;
  padding: 10px 6px 20px 20px;
}

.indent {
  margin: 0 0 0 15px;
}

.list {
  margin-bottom: 0;
  margin-top: 10px;
}

#comment-form{
  margin-top: 10px;
    max-width: 600px;
  margin: 0 auto;
}

.comment {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:  #C7C8BD;
  border-radius: 4px;
  padding: 10px 6px 20px 20px;
}
