// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#my-hats{
  font-size: 40px;
  display: inline-block;
  margin-right: 10px;
}

#hat{
  max-width: 80px;
  display: inline-block;
}

.new-hat{
  font-size: 24px;
}

#sign-up {
  max-width: 350px;

}

#edit{
  margin: 0 auto;
  max-width: 350px;
  margin-top: 20px;
}

.img-input {
  margin: 4px 0 0 0;
}
